.dashed-div
{
	/*border: 2px dashed black;*/
	/*outline-style: dashed;
	outline-color: grey;
	outline-width: 2px;*/
}

.body-container
{
	width: 1024px;
	margin: 0 auto;
	background-image: url('../assets/img/snow.jpg');
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.main-container
{
	width: 1024px;
	min-height:400px;
    height:auto;
    overflow: hidden; 


	margin: 0 auto;

	background-color: white;

	border-left: 2px solid rgb(21, 113, 185);
	border-right: 2px solid rgb(21, 113, 185);
	
}

.main-container-left
{
	display: inline-block;
	width: 1024px;
	height: 100%;
	float: left;
}

.article-div
{
	width: 1004px;
	padding-top: 10px;
	padding-left: 20px;

	vertical-align: middle;
}

.article-title
{
	display: inline-block;
	color:rgb(22, 87, 142);
	font-weight: bold;
	margin: 5px 0px;

}

.article-icon
{
	display: inline-block;
	width: 16px;
	height: 16px;	
	background-size: 16px;
}

.article-favourite
{
	background-image: url('../assets/img/favourite_true.png');	
}

.article-not-favourite
{
	background-image: url('../assets/img/favourite_false.png');
}

.article-not-favourite:hover
{
	background-image: url('../assets/img/favourite_true.png');
}

.article-favourite:hover
{
	background-image: url('../assets/img/favourite_false.png');
}

.article-date
{
	color: rgb(21, 113, 185);
	font-style: italic;
	margin: 5px 0px;

}

.article-user-picture
{
	float: left;
	width: 77px;
	height: 77px;
}

.article-text
{
	display: inline-block;
	width: 850px;
	height: 100px;
	padding-left: 20px;
	margin: 0;
	text-indent: 30px;
	word-wrap: break-word;
}

.article-comments
{
	padding-left: 100px;
	padding-right: 50px;
	padding-top: 10px;
	
}

.article-comment
{
	padding-top: 10px;
	border-top: 1px solid grey;
	vertical-align: top;
	min-height: 60px;
}

.article-commentator-user-picture
{	
	width: 44px;
	height: 44px;
	
	float: left;

	margin-right: 10px;
	
}

.commentator-name
{
	color: rgb(21, 113, 185);
	font-style: italic;

	padding-left: 20px;
	margin: 0px;
}

.comment-text
{
	padding-left: 20px;
	margin: 0px;
	text-indent: 30px;
}

.comment-date
{
	padding-left: 20px;
	margin: 0px;
}

.emptyDiv
{
	margin: 0px;
	padding: 0px;
	clear: both;
}

.simpleButton
{
	display: inline-block;
	clear: both;

	margin: 10px 0px;
	padding: 3px 15px 5px;
	cursor: pointer;
}

.simpleButton:focus
{
	outline: none;
}

.deepBlueButton
{
	text-align: center;
	vertical-align: top;

	background-color: rgb(22, 87, 142);

	border: 1px solid rgb(21, 113, 185);
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(22, 87, 142);

	color: white;
	font-size: 12px;
	font-family:Helvetica;
}



.simpleInputField
{
	display: inline-block;
	text-indent: 10px;

	font-family:Helvetica;
	overflow:hidden;
	resize:none;
}

.simpleInputField:focus
{
	outline: none;
}

.ngWigInputField 
{

	display: inline-block;
	text-indent: 10px;

	font-family:Helvetica;
	overflow:hidden;
	resize:none;
}

.ngWigInputField:focus
{
outline: none;
}

.deepBlueBorder
{
	border: 2px solid rgb(22, 87, 142);
}

.darkRedBorder
{
	 border: 2px solid rgb(200,0,31);
}

.roundBorder
{
	border-radius: 8px;
}

.addCommentAuthor
{
	float: left;
	width: 200px;
}

.addCommentText
{
	float: left;
	width: 400px;
	height: 60px;	
}

.inputErrorIcon
{
	position: absolute;
	width: 20px;
	height: 20px;
}

.spacer10
{
	margin-bottom: 10px;
}

.addPostButton
{
	float: right;
	margin-right: 10px;
}


.addPostFormView
{
	padding: 20px;
}

.simpleFormView
{
}

.simpleInputField.ng-valid {
  border: 2px solid rgb(22, 87, 142);
}

.simpleInputField.ng-invalid {
  border: 2px solid rgb(200,0,31);
}



.addPostAuthor
{
	float: left;
	width: 200px;	
}

.addPostSubject
{
	float: left;
	width: 50%;
}

.addPostData
{
	float: left;
	width: 100%;
}

