<div class="simpleButton deepBlueButton" 
	ng-hide="isCommentContainerVisible" 
	ng-click="showCommentContainer($event)" 
	click-outside="hideCommentContainer()">
		Добавить комментарий
</div>

<form name="addCommentForm" class="simpleFormView" ng-show="isCommentContainerVisible" novalidate>
    
	<div class="emptyDiv">

	    <input name="authorInput" class="simpleInputField deepBlueBorder roundBorder addCommentAuthor" placeholder="Автор" type="text"
	    	click-outside="hideCommentContainer()"
	    	ng-model="newCommentAuthor" required>

	 	<img src="../assets/img/error_sign.png" class="inputErrorIcon" ng-show="addCommentForm.authorInput.$error.required">	
		<img src="../assets/img/ok_sign.png" class="inputErrorIcon" ng-hide="addCommentForm.authorInput.$error.required">

	</div>

	<div class="emptyDiv spacer10"></div>

	<div class="emptyDiv">

	    <textarea name="commentTextInput" class="simpleInputField deepBlueBorder roundBorder addCommentText" placeholder="Текст комментария" 
	    	rows="10" cols="45"
	    	click-outside="hideCommentContainer()"
	    	ng-model="newCommentText" required></textarea>

		<img src="../assets/img/error_sign.png" class="inputErrorIcon" ng-show="addCommentForm.commentTextInput.$error.required">	
		<img src="../assets/img/ok_sign.png" class="inputErrorIcon" ng-hide="addCommentForm.commentTextInput.$error.required">

	</div>

	<div class="emptyDiv">

     <input type="submit" class="simpleButton deepBlueButton" ng-disabled="addCommentForm. $invalid" ng-click="addComment()"
     	click-outside="hideCommentContainer()">

     </div>
</form>