<form name="addPostForm" class="simpleFormView addPostFormView" novalidate>

	<div class="emptyDiv">

	    <input name="authorInput" class="simpleInputField deepBlueBorder roundBorder addPostAuthor" placeholder="Автор" type="text" ng-model="newPostAuthor"
	    	required>

	    <img src="../assets/img/error_sign.png" class="inputErrorIcon" ng-show="addPostForm.authorInput.$error.required">
	    <img src="../assets/img/ok_sign.png" class="inputErrorIcon" ng-hide="addPostForm.authorInput.$error.required">


	</div>

	<div class="emptyDiv spacer10"></div>

	<div class="emptyDiv">

	    <input name="postSubjectInput" class="simpleInputField deepBlueBorder roundBorder addPostSubject" placeholder="Тема" ng-model="newPostSubject" required>

		<img src="../assets/img/error_sign.png" class="inputErrorIcon" ng-show="addPostForm.postSubjectInput.$error.required">	
		<img src="../assets/img/ok_sign.png" class="inputErrorIcon" ng-hide="addPostForm.postSubjectInput.$error.required">

	</div>

	<div class="emptyDiv spacer10"></div>

	<div class="emptyDiv">		

	    <textarea id="postTextInputId" name="postTextInput" class="ngWigInputField roundBorder addPostData" 
	    	ng-class="{'deepBlueBorder':addPostForm.postTextInput.$valid, 'darkRedBorder':addPostForm.postTextInput.$invalid}"

	    
	    	ng-wig=''
	    	placeholder="Начните вводить новую запись..." rows="10" cols="45" ng-model="newPostData" required></textarea>

		<img src="../assets/img/error_sign.png" class="inputErrorIcon" ng-show="addPostForm.postTextInput.$error.required">	
		<img src="../assets/img/ok_sign.png" class="inputErrorIcon" ng-hide="addPostForm.postTextInput.$error.required">

	</div>

	<div class="emptyDiv">
		<input type="submit" class="simpleButton deepBlueButton" ng-disabled="addPostForm. $invalid" ng-click="savePost()"
     </div>

</form>